<!-- app/views/comments/create.html.erb -->
<h2>Comentário Criado com Sucesso</h2>
<p>Seu comentário foi adicionado a publicação com sucesso!</p>

<%= link_to 'Voltar a Publicação', article_path(@article) %>

